html {
  font-family: Verdana;
  background-color: black;
  text-align:center;
}

.discover {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.guide {
  font-weight: 300;
  font-size:42px;
}

.places {
  font-size: 21px;
  color: gray;
}

.footer {
  text-align: right;
  color: gray;
}
